---
import Section from "../Section.astro";

import { projects } from "@cv";
---

<Section title="Projects">
    <ul>
        {
            projects.map(project=>{
                return (
                    <li>
                        <article>
                            
                        </article>
                    </li>
                )
            })
        }
    </ul>
</Section>
