---
import Section from "../Section.astro";

import { projects } from "@cv";
---

<Section title="Projects">
  <ul>
    {
      projects.map(({ url, description, highlights, name, isActive }) => {
        return (
          <li>
            <article>
              <header>
                <a href={url} title={`Ver el proyecto ${name}`} />
              </header>
            </article>
          </li>
        );
      })
    }
  </ul>
</Section>
