---
import Section from "../Section.astro";

import { skills } from "@cv";
---

<Section title="Skills">
  <ul>
    {
      skills.map(({ name }) => (
        <li>
          <span>{name}</span>
        </li>
      ))
    }
  </ul>
</Section>
