---
import Section from "../Section.astro";

import { skills } from "@cv";
---

<Section title="Skills">
  <ul>
    {
      skills.map(({ name, level }) => (
        <li>
          <span />
        </li>
      ))
    }
  </ul>
</Section>
